@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.header {
  width: 100%;
  max-width: breakpoints.$screen-max;
  height: 6rem;
  position: fixed;
  z-index: positions.$z-header;
  margin: 0 auto;
  background: colors.$white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-transform: capitalize;
  font-family: typography.$Rubik30;
  border-bottom: 2px solid red;
  @include breakpoints.x-small {
    height: 8.5rem;
  }
  & a {
    color: colors.$black;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      color: red;
    }
  }
  &__main {
    width: 100%;
    @include utilities.total-flexbox-params(flex, center, space-between);
    @include breakpoints.x-small {
      display: block;
    }
    & > div:first-child {
      width: 100%;
      max-width: 12rem;
      & img {
        width: 100%;
      }
    }
    & > div:last-child {
      @include utilities.total-flexbox-params(flex, center, space-between);
      @include breakpoints.x-small {
        justify-content: start;
      }
      gap: 1rem;
      @include breakpoints.medium {
        gap: 0.5rem;
      }
    }
  }
  &__links {
    width: 100%;
    padding: 0.3rem 0;
    @include breakpoints.x-small {
      margin-top: 1rem;
    }
    & > div {
      @include utilities.total-flexbox-params(flex, center, center);
      @include breakpoints.x-small {
        justify-content: start;
      }
      gap: 2.5rem;
    }
  }
}
