@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.pagination {
  width: 100%;
  background: colors.$white;
  padding: 2rem 2%;
  @include utilities.total-flexbox-params(flex, center, flex-end);
  @include breakpoints.medium {
    grid-column: 1/3;
    @include utilities.total-flexbox-params(flex, center, center);
  }
}
