@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.categories {
  width: 100%;
  height: auto;
  background: colors.$white;
  grid-row: 1 / 3;
  padding: 5%;
  text-transform: capitalize;
  @include breakpoints.medium {
    display: none;
  }
  & > div {
    padding: 0.8rem 0;
  }
}
