@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.head {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  @include utilities.total-flexbox-params(flex, center, space-between);
  & > h2 {
    font-size: 25px;
    font-family: typography.$Rubik30;
    text-transform: capitalize;
  }
}
